# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
*.egg

# Flask
instance/
.pytest_cache/

# Migrations
migrations/versions/

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
